<html>
    <head>
        <title>Covid data</title>
    </head>
    <body>
        {{list|safe}}
        <form action="/search" method = "GET">
            <select name="regione">
            {% for regione in list %}             <!--faccio un ciclo for all'interno del codice html usando le variabili come nel caso di una variabile normale-->
                <option value="{{regione}}">{{regione}}</option> 
            {% endfor %}
            </select>
            <p><input type = "submit" value = "Clicca per conoscere i dati" /></p>
        </form>
    </body>
</html>